fastapi[standard]
uvicorn
sqlalchemy
passlib
bcrypt
python-multipart
geopy
python-jose
pre-commit
alembic
sqlalchemy-utils
Pillow
fastapi-pagination
prometheus-fastapi-instrumentator
prometheus-client