<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car Rental</title>
    <link href="{{url_for('static', path='/css/change_password.css')}}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <h1 class="title">{{title}}</h1>
        <form id="pasword-container" method="post" action="/login/password-form" onsubmit="return buttonClick(event)">
            <div class="label-and-password">
                <label for="password">New Password:</label>
                <input id="password" name="password" placeholder="password">
            </div>
            <div class="label-and-password">
                <label for="confirm-password">Confirm Password:</label>
                <input id="confirm-password" name="confirm-password" placeholder="confirm">
                <input style="visibility:hidden;" name="confirm_id" visibility="hidden" value="{{confirm_id}}">
                <input style="visibility:hidden;" name="key" visibility="hidden" value="{{key}}">
            </div>
            <div class="button-panel">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function buttonClick(event) {
            if (document.getElementById("password").value.trim() == "") {
                alert("Empty password")
                return false
            }
            if (document.getElementById("password").value.trim() != document.getElementById("confirm-password").value.trim()) {
                alert("Password and confirmation do not match!");
                return false;
            }
            return true
        }
    </script>
</body>
</html>