.container {
    background-color:#dedcdd;
    width: 20%;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    padding: 15px;
    border-radius: 20px;
}

#password-container {
    width: 100%;
    margin: auto;
    margin-top: 25px;
}

.label-and-password  {
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.label-and-password label {
    display: block;
    font-size: 1rem;
}

.label-and-password input {
    font-size: 1.3rem;
    margin-top: 5px;
}

button {
    display: block;
    width: 90px;
    padding: 5px;
    font-size: 1.3rem;
    margin: auto;
    margin-top: 30px;
}

.title {
    font-size: 2.3rem;
    color: #8c0046;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
